name: TEST_Release_Build

on:
  workflow_dispatch:
  push:
    branches: [main]

jobs:
  build:
  
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Run a one-line script
        run: echo Hello, world!

      # This part for docker build / tag
      - name: Docker build
        run: |
          docker build . -t my_service
          docker tag my_service:1.0.0 my_service:1.0.0
